* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 92, 92);
    padding: 1rem 2rem;
    color: #fff;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    list-style-type: none;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-weight: 4rem;
    font-size: 1.2rem;
    color: #fff;
  }
  
  .menu ul li a:hover {
    color: rgb(255, 187, 0);
  }
  